*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3F2ED;
}
.container{
    position: relative;
    background-image: url("img/bg.png");
    background-size: cover;
    padding: 25px;
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header,
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo img {
    width: 48px;
    margin-right: 10px;
}
h5 {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}
header .chip {
    width: 60px;
}
h6{
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
}
h5.numero{
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}
h5.nome{
    margin-top: 20px;
}
.container .card-detalhes{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}